<div class="row mb-3 border-bottom border-3 border-secondary">
    <div class="col">
        <p class="lead">Education #1</p>
    </div>
</div><!-- remove btn row -->

<div class="row mb-3">
    <div class="col">
        <label class="form-label" for="edu_ecole_0">
            Ecole
        </label>
        <input class="form-control" id="edu_ecole_0" 
               type="text" 
               name="edu_ecole_0" 
               placeholder="Ecole">
    </div>
    <div class="col">
        <label class="form-label" for="edu_diplome_0">Diplôme</label>
        <input class="form-control diploma" id="edu_diplome_0" type="text" name="edu_diplome_0" placeholder="Diplôme">
    </div>
</div><!-- Education Ecole and Diplome -->

<div class="row mb-3">
    <div class="col">
        <label class="form-label" for="edu_start_date_0">Date de début</label>
        <div class="date-inputs d-flex justify-content-between">
            <input class="form-control" id="edu_start_date_0" 
                   type="date" 
                   name="edu_start_date_0">
            <input class="form-control" id="edu_end_date_0" 
                   type="date" 
                   name="edu_end_date_0">
        </div>
    </div>
    <div class="col">
        <label class="form-label" for="edu_ville_0">Ville</label>
        <input class="form-control" id="edu_ville_0" 
               type="text" 
               name="edu_ville_0" 
               placeholder="Ville">
    </div>
</div><!-- start-date & end-date & ville -->

<div class="row mb-3">
    <div class="col">
        <div class="d-flex align-items-center justify-content-between mb-3 border-top pt-2">
            <label class="form-label" for="edu_description_0">Description</label>

            <div class="form-check">
                <input class="form-check-input" id="edu_desc_aslist_0"
                       type="checkbox" 
                       name="edu_desc_aslist_0"
                       value="1">
                <label class="form-check-label" for="edu_desc_aslist_0">Display as a list</label>
            </div>

            <button class="btn btn-sm btn-info ai-edu-desc"
                    data-bs-toggle="tooltip" title="Generate Description With IA" data-bs-placement="right">

                <i class="bi bi-robot"></i> AI Generate Description
                <span class="ai-edu-spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
            </button>

        </div><!-- label description & display as a list -->

        <textarea class="form-control" id="edu_description_0"
                  name="edu_description_0" rows="6"
                  placeholder="e.g Mention Trés bien."></textarea>
    </div>
</div><!-- Education Description -->

<!-- Accordion for Education -->
<div class="accordion shadow" id="education-accordion" style="display: none;">
</div><!-- Accordion education-container -->

<!-- Add New Education Accordion Item -->
<div class="row">
    <div class="col">
        <button id="add-education" class="btn btn-link my-2 float-end">
            <i class="bi bi-plus"></i> Add Education
        </button>
    </div>
</div>
