<div class="row mb-3 border-bottom border-3 border-secondary">
    <div class="col">
        <p class="lead">Expérience #1</p>
    </div>
</div><!-- remove btn row -->

<div class="row mb-3">
    <div class="col">
        <label class="form-label" for="exp_post_title_0">Poste Title</label>
        <input class="form-control poste-title" id="exp_post_title_0" type="text" name="exp_post_title_0" 
               placeholder="Poste Title" required="true">
    </div>
    <div class="col">
        <label class="form-label" for="exp_employee_0">Employée</label>
        <input class="form-control" id="exp_employee_0" 
               type="text" 
               name="exp_employee_0" 
               placeholder="Employée"
               required="True">
    </div>
</div><!-- Poste and Employée -->

<div class="row mb-3">
    <div class="col">
        <label class="form-label" for="exp_start_date_0">Date de début</label>
        <div class="d-flex justify-content-between">
            <input class="form-control" id="exp_start_date_0" 
                   type="date" 
                   name="exp_start_date_0" 
                   required="true">
            <input class="form-control" id="exp_end_date_0" 
                   type="date" 
                   name="exp_end_date_0"
                   required="true">
        </div>
    </div>
    <div class="col">
        <label class="form-label" for="exp_ville_0">Ville</label>
        <input class="form-control" id="exp_ville_0" 
               type="text" 
               name="exp_ville_0" 
               placeholder="Ville">
    </div>
</div><!-- Exp Date and Ville -->

<div class="row mb-3">
    <div class="col">
        <div class="d-flex align-items-center justify-content-between mb-3 border-top pt-2">
            <label class="form-label" for="exp_description_0">Description</label>
            <div class="form-check">
                <input class="form-check-input" id="exp_desc_aslist_0" type="checkbox" 
                       name="exp_desc_aslist_0" value="1">
                <label class="form-check-label" for="exp_desc_aslist_0">Display as a list</label>
            </div>

            <button class="btn btn-sm btn-warning ai-exp-desc"
                    data-bs-toggle="tooltip" title="Generate Description With IA" data-bs-placement="right">
                <i class="bi bi-robot"></i> AI Generate Description&nbsp;
                <span class="ai-exp-spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
            </button>
        </div>
        <textarea class="form-control" id="exp_description_0"
                  name="exp_description_0" rows="6"
                  placeholder="Enter Description for this post"></textarea>
    </div>
</div><!-- Exp Description -->

<div class="accordion shadow" id="experience-accordion" style="display: none;">
</div><!-- accordion experience-container -->

<div class="row my-3">
    <div class="col">
        <button id="add-experience" class="btn btn-link float-end">
            <i class="bi bi-plus"></i> Add Expérience
        </button>
    </div>
</div>
