<div id="links-container">
    <div class="row mb-3 border-bottom border-3 border-secondary">
        <div class="col">
            <p class="lead">Links</p>
        </div>
    </div>

    <div class="row mb-3 content-div"> <!-- content-div to work with in jQuery -->
        <div class="col">
            <input type="text" name="link_name_0" 
                   placeholder="Enter link name (e.g., YouTube)" class="form-control">
        </div>
        <div class="col d-flex justify-content-between">
            <input type="url" name="link_url_0" placeholder="Enter link URL" class="form-control">
            <button type="button" class="remove-btn btn btn-outline-danger ms-2">
                <i class="bi bi-trash3"></i>
            </button>
        </div>
    </div>
</div><!-- end of links-container -->
<div class="row my-3">
    <div class="col">
      <button id="add-link-btn" type="button" class="btn btn-link float-end">+ Add Link</button>
    </div>
</div>
