<div id="skills-container">

    <div id="common-skills" class="common-skills">
    </div>

    <div class="row mb-3 content-div">
        <div class="col">
            <input type="text" name="skills_0" placeholder="Enter a skill" class="form-control">
        </div>
        <div class="col d-flex justify-content-between">
            <select id="" name="niveau_0" class="form-select">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
            <button type="button" class="remove-btn btn btn-outline-danger ms-1">
                <i class="bi bi-trash3"></i>
            </button>
        </div>
    </div>  
</div><!-- skills container -->

<div class="d-flex justify-content-between">
    <button id="add-skill-btn" type="button" class="btn btn-link">
        <i class="bi bi-plus"></i> Add Skill
    </button>

    <button id="ai-skills" class="btn btn-outline-success btn-sm"
            data-bs-toggle="tooltip" title="Generate Common Skill with AI" data-bs-placement="right">
        <i class="bi bi-robot"></i> AI Generate Common Skills&nbsp;&nbsp;
        <span class="ai-skills-spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
    </button>
</div><!-- Buttons add-skills & ai-button -->
