@font-face {
    font-family: 'condensed';
    src: url('/static/fonts/TT Commons Pro Trial Condensed Medium.ttf');
}

@font-face {
    font-family: 'condensed-italic';
    src:url('/static/fonts/TT Commons Pro Trial Condensed Medium Italic.ttf')
}


body {
    /*font-family: "condensed";*/
    font-family: system-ui;
}

/* **************************************************************** */

.template-card {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.template-card:hover {
    transform: scale(1.05);
}

.common-skills, .common-languages {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*margin: 0px -12px -8px 0px;*/
}

.skill {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  margin: 0px 12px 12px 0px;
  padding: 6px 6px 6px 10px;
  border-radius: 4px;
  background-color: rgb(215, 223, 242);
  color: #246788;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  transition: background-color 0.1s, color 0.1s;
  will-change: opacity, transform;
  cursor: pointer;
}

.language {
  cursor: pointer;
}

.skill:hover, .language:hover {
    background-color: rgb(234, 246, 255);
    color: rgb(26, 145, 240);
}

.date-inputs {
    gap: 7px;
}

/*.date-container {*/
    /*margin-right: 28px;*/
/*}*/

/*.date {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
/*}*/

/*.date input {*/
    /*width: 80%;*/
    /*margin-right: 0;*/
/*}*/

/*#languages-container .form-group-input, */
/*#skills-container .form-group-input,*/
/*#links-container .form-group-input {*/
    /*display: flex; */
/*}*/

/* **************************************************************** */

label {
    font-family: 'condensed-italic';
}

.errors ul {
    list-style: none;
    padding: 5px;
}

.form-control {
    font-size: 1.1rem;
}
