{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static "resumes/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "resumes/css/bootstrap-icons.min.css" %}">
    <link rel="stylesheet" href="{% static 'resumes/css/form_style.css' %}">
    <title>Create CV</title>
</head>
<body>
    <div id="container">
        
        <div class="card m-auto my-5" style="width: 50rem;">
            <div class="card-header text-center">
                <h1>Create Your CV</h1>
            </div>

            <div class="card-body">
        <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Hendle Errors -->
            {% if form.errors %}
                <div class="errors">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors|join:", " }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- ===================== Accordion de merde ================================================ -->
            <div class="accordion accordion-flush" id="mainAccordion">

                <!-- mainInformation -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="information">
                    <button class="accordion-button fs-5" 
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfo" 
                            aria-expanded="true" aria-controls="collapseInfo">
                        <i class="bi bi-person-lines-fill"></i>&nbsp;&nbsp; Profile
                  </button>
                </h2>

                <div id="collapseInfo" class="accordion-collapse collapse show" 
                    aria-labelledby="information" data-bs-parent="#mainAccordion">
                  <div class="accordion-body">

                      <!-- Info Container -->
                      <div id="info-container">
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="{{ form.poste.id_for_label }}">{{ form.poste.label }}</label>
                                {{ form.poste }}
                            </div>
                            <div class="col">
                                <label class="form-label" for="{{ form.profile_image.id_for_label }}">
                                    {{ form.profile_image.label }}
                                </label>
                                {{ form.profile_image }}
                            </div>
                        </div><!-- Poste and Profile image -->

                        <hr>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="{{ form.first_name.id_for_label }}">
                                    {{ form.first_name.label }}
                                </label>
                                {{ form.first_name }}
                            </div>
                            <div class="col">
                                <label class="form-label" for="{{ form.last_name.id_for_label }}">
                                    {{ form.last_name.label }}
                                </label>
                                {{ form.last_name }}
                            </div>
                        </div><!-- First-name & Last-name -->

                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email }}
                            </div>
                            <div class="col">
                                <label class="form-label" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                                {{ form.phone }}
                            </div>
                        </div> <!-- Email & Phone -->

                        <hr>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                                {{ form.address }}
                            </div>
                            <div class="col">
                                <label class="form-label" for="{{ form.ville.id_for_label }}">{{ form.ville.label }}</label>
                                {{ form.ville }}
                            </div>
                        </div><!-- Address & Ville -->

                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="{{ form.code_postal.id_for_label }}">
                                    {{ form.code_postal.label }}
                                </label>
                                {{ form.code_postal }}
                            </div>
                            <div class="col">
                                <label class="form-label" for="{{ form.paye.id_for_label }}">{{ form.paye.label }}</label>
                                {{ form.paye }}
                            </div>
                        </div><!-- CodePostal & Paye -->

                        <hr>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="{{ form.d_naissance.id_for_label }}">
                                    {{ form.d_naissance.label }}
                                </label>
                                {{ form.d_naissance }}
                            </div>
                            <div class="col">
                                <label class="form-label" for="{{ form.sit_family.id_for_label }}">
                                    {{ form.sit_family.label }}
                                </label>
                                {{ form.sit_family }}
                            </div>
                        </div><!-- D.Naissance & situation familiale -->

                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="{{ form.permis.id_for_label }}">{{ form.permis.label }}</label>
                                {{ form.permis }}
                            </div>
                            <div class="col"></div>
                        </div><!-- Permis -->

                        <hr>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <div class="d-flex justify-content-between mb-2">
                                    <label class="form-label" for="{{ form.profile.id_for_label }}">
                                        {{ form.profile.label }}
                                    </label>
                                    <button id="ai-poste-profile" class="btn btn-outline-success btn-sm"
                                            data-bs-toggle="tooltip" title="Generate Profile With IA" data-bs-placement="right">
                                        <i class="bi bi-robot"></i> Generate AI profile
                                    </button>
                                </div>
                                {{ form.profile }}
                            </div>
                        </div><!-- Profile -->

                      </div><!-- profile container -->
                  </div><!-- accordion body -->
                </div><!-- id collapse -->
              </div><!-- end accordion-item -->

              <!-- ===================================================================== -->

              <!-- Education -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="education">
                    <button class="accordion-button collapsed fs-5" 
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseEducation" 
                            aria-expanded="false" aria-controls="collapseEducation">
                        <i class="bi bi-mortarboard-fill"></i>&nbsp;&nbsp; Education
                  </button>
                </h2>

                <div id="collapseEducation" class="accordion-collapse collapse" 
                    aria-labelledby="education" data-bs-parent="#mainAccordion">

                  <div class="accordion-body">

                    <!-- Education Container -->
                    <div id="education-container">
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="edu_ecole_0">
                                    Ecole
                                </label>
                                <input class="form-control" id="edu_ecole_0" 
                                       type="text" 
                                       name="edu_ecole_0" 
                                       placeholder="Ecole">
                            </div>
                            <div class="col">
                                <label class="form-label" for="edu_diplome_0">Diplôme</label>
                                <input class="form-control" id="edu_diplome_0" 
                                       type="text" 
                                       name="edu_diplome_0" 
                                       placeholder="Diplôme">
                            </div>
                        </div><!-- Education Ecole and Diplome -->

                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="edu_start_date_0">Date de début</label>
                                <div class="d-flex justify-content-between">
                                    <input class="form-control" id="edu_start_date_0" 
                                           type="date" 
                                           name="edu_start_date_0">
                                    <input class="form-control" id="edu_end_date_0" 
                                           type="date" 
                                           name="edu_end_date_0">
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-label" for="edu_ville_0">Ville</label>
                                <input class="form-control" id="edu_ville_0" 
                                       type="text" 
                                       name="edu_ville_0" 
                                       placeholder="Ville">
                            </div>
                        </div><!-- start-date & end-date & ville -->

                        <div class="row mb-3">
                            <div class="col">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="edu_description_0">Description</label>
                                    <div class="form-check">
                                        <input class="form-check-input" id="edu_as_list_0"
                                               type="checkbox" 
                                               name="edu_as_list_0"
                                               value="1">
                                        <label class="form-check-label" for="edu_as_list_0">Display as a list</label>
                                    </div>
                                </div><!-- label description & display as a list -->
                                <textarea class="form-control" id="edu_description_0"
                                          name="edu_description_0" 
                                          placeholder="e.g Mention Trés bien."></textarea>
                            </div>
                        </div><!-- Description -->

                        <div class="accordion shadow" id="education-accordion" style="display: none;">

                            <div class="accordion-item"> 
                                <h2 class="accordion-header" id="edu_head_1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#edu_1" aria-expanded="true" aria-controles="edu_1">
                                        Education #2
                                    </button>
                                </h2>
                                <div id="edu_1" class="accordion-collapse collapse show" aria-labeledby="edu_head_1"
                                     data-bs-parent="#education-accordion">

                                    <div class="accordion-body">

                                        <div class="row mb-3 border-bottom border-3 border-secondary">
                                            <div class="col">
                                                <p class="lead">Education #2</p>
                                            </div>
                                            <div class="col">
                                                <button type="button" 
                                                        class="remove-accordion-item btn btn-sm btn-outline-danger float-end">
                                                    <i class="bi bi-trash3"></i>
                                                </button>
                                            </div>
                                        </div><!-- remove button -->

                                        <div class="row mb-3">
                                            <div class="col">
                                                <label class="form-label" for="edu_ecole_1">
                                                    Ecole
                                                </label>
                                                <input class="form-control" id="edu_ecole_1" 
                                                       type="text" 
                                                       name="edu_ecole_1" 
                                                       placeholder="Ecole">
                                            </div>
                                            <div class="col">
                                                <label class="form-label" for="edu_diplome_1">Diplôme</label>
                                                <input class="form-control" id="edu_diplome_1" 
                                                       type="text" 
                                                       name="edu_diplome_1" 
                                                       placeholder="Diplôme">
                                            </div>
                                        </div><!-- Education Poste & Employée -->

                                        <div class="row mb-3">
                                            <div class="col">
                                                <label class="form-label" for="edu_start_date_1">Date de début</label>
                                                <div class="d-flex justify-content-between">
                                                    <input class="form-control" id="edu_start_date_1" 
                                                           type="date" 
                                                           name="edu_start_date_1">
                                                    <input class="form-control" id="edu_end_date_1" 
                                                           type="date" 
                                                           name="edu_end_date_1">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="form-label" for="edu_ville_1">Ville</label>
                                                <input class="form-control" id="edu_ville_1" 
                                                       type="text" 
                                                       name="edu_ville_1" 
                                                       placeholder="Ville">
                                            </div>
                                        </div><!-- Education start-date & end-date & Ville -->

                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="d-flex justify-content-between">
                                                    <label class="form-label" for="edu_description_1">Description</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="edu_as_list_1"
                                                               type="checkbox" 
                                                               name="edu_as_list_1"
                                                               value="1">
                                                        <label class="form-check-label" for="edu_as_list_1">
                                                            Display as a list
                                                        </label>
                                                    </div>
                                                </div><!-- Edu Desc label & edu-as-list -->
                                                <textarea class="form-control" id="edu_description_1"
                                                          name="edu_description_1" 
                                                          placeholder="e.g Mention Trés bien."></textarea>
                                            </div>
                                        </div><!-- Education Description -->

                                        <div class="row mb-3">
                                            <div class="col">
                                            </div>
                                        </div>

                                    </div><!-- accordion-body -->
                                </div><!-- edu_1 collapse -->
                            </div><!-- Accordion-item -->
                        </div><!-- Accordion education-container -->

                        <div class="row">
                            <div class="col">
                                <button id="add-education" class="btn btn-link my-2 float-end">
                                    <i class="bi bi-plus"></i> Add Education
                                </button>
                            </div>
                        </div>
                    </div><!-- End of Education Container -->

                  </div><!-- Education Accordion Body -->
                </div><!-- ID Education Collapse -->
              </div><!-- Education item -->

              <!-- ===================================================================== -->

              <!-- Languages -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="languages">
                    <button class="accordion-button collapsed fs-5" 
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseLang" 
                            aria-expanded="true" aria-controls="collapseLang">
                      
                        <i class="bi bi-translate"></i>&nbsp;&nbsp; Languages
                  </button>
                </h2>

                <div id="collapseLang" class="accordion-collapse collapse" 
                    aria-labelledby="languages" data-bs-parent="#mainAccordion">
                  <div class="accordion-body">

                    <div id="languages-container">
                        <div class="row mb-3 content-div">
                            <div class="col">
                                <input type="text" name="languages_0" placeholder="Enter a language" class="form-control">
                            </div>

                            <div class="col d-flex justify-content-between">
                                <select id="" name="proficiency_0" class="form-select">
                                    <option value="1">Beginner</option>
                                    <option value="2">Intermediate</option>
                                    <option value="3">Fluent</option>
                                    <option value="4">Maternal</option>
                                </select>
                                <button type="button" class="remove-btn btn btn-outline-danger ms-2">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </div>
                        </div>  
                    </div><!-- langugage-container -->

                      <div class="row my-3">
                          <div class="col">
                              <button id="add-language-btn" type="button" class="btn btn-link float-end">+ Add Language</button>
                          </div>
                      </div>

                  </div><!-- accordion body -->
                </div><!-- ID Collapse -->
              </div><!-- language accordion-item -->
            
              <!-- ===================================================================== -->
              <!-- Links -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="Links">
                    <button class="accordion-button collapsed fs-5" 
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseLinks" 
                            aria-expanded="false" aria-controls="collapseLinks">
                        <i class="bi bi-browser-chrome"></i>&nbsp;&nbsp; Links
                    </button>
                </h2>
                
                <div id="collapseLinks" class="accordion-collapse collapse" 
                    aria-labelledby="Links" data-bs-parent="#mainAccordion">
                  
                    <div class="accordion-body">

                      <div id="links-container">
                          <div class="row mb-3 content-div"> <!-- content-div to work with in jQuery -->
                              <div class="col">
                                  <input type="text" name="link_name_0" 
                                         placeholder="Enter link name (e.g., YouTube)" class="form-control">
                              </div>
                              <div class="col d-flex justify-content-between">
                                  <input type="url" name="link_url_0" placeholder="Enter link URL" class="form-control">
                                  <button type="button" class="remove-btn btn btn-outline-danger ms-2">
                                      <i class="bi bi-trash3"></i>
                                  </button>
                              </div>
                          </div>
                      </div><!-- end of links-container -->
                      <div class="row my-3">
                          <div class="col">
                            <button id="add-link-btn" type="button" class="btn btn-link float-end">+ Add Link</button>
                          </div>
                      </div>

                    </div><!-- Accordion-body -->
                </div><!-- ID Collapse -->
              </div><!-- Links accordion-item -->

              <!-- ===================================================================== -->

              <!-- Skills -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="skills">
                    <button class="accordion-button collapsed fs-5" 
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseSkills" 
                            aria-expanded="false" aria-controls="collapseSkills">

                        <i class="bi bi-list-check"></i>&nbsp;&nbsp; Skills
                    </button>
                </h2>
                
                <div id="collapseSkills" class="accordion-collapse collapse" 
                    aria-labelledby="skills" data-bs-parent="#mainAccordion">
                  
                    <div class="accordion-body">
                        <div id="skills-container">

                            <div id="common-skills" class="common-skills">
                            </div>

                            <div class="row mb-3 content-div">
                                <div class="col">
                                    <input type="text" name="skills_0" placeholder="Enter a skill" class="form-control">
                                </div>
                                <div class="col d-flex justify-content-between">
                                    <select id="" name="niveau_0" class="form-select">
                                        <option value="Beginner">Beginner</option>
                                        <option value="Intermediate">Intermediate</option>
                                        <option value="Advanced">Advanced</option>
                                    </select>
                                    <button type="button" class="remove-btn btn btn-outline-danger ms-1">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </div>
                            </div>  
                        </div><!-- skills container -->

                        <div class="d-flex justify-content-between">
                            <button id="add-skill-btn" type="button" class="btn btn-link">
                                <i class="bi bi-plus"></i> Add Skill
                            </button>

                            <button id="ai-poste-skills" class="btn btn-outline-success btn-sm">
                                <i class="bi bi-robot"></i> AI Generate Common Skills
                            </button>
                        </div><!-- Buttons add-skills & ai-button -->
                    </div><!-- Accordion Body -->
                </div><!-- ID Collapse -->
              </div><!-- Skills accordion-item -->

              <!-- ===================================================================== -->

              <!-- Expérience -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="experience">
                    <button class="accordion-button collapsed fs-5" 
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseExp" 
                            aria-expanded="false" aria-controls="collapseTwo">

                        <i class="bi bi-briefcase-fill"></i>&nbsp;&nbsp; Expérience
                    </button>
                </h2>
                
                <div id="collapseExp" class="accordion-collapse collapse" 
                    aria-labelledby="experience" data-bs-parent="#mainAccordion">
                  
                    <div class="accordion-body clearfix">

                        <div class="experience-container accordion" id="experience-accordion">

                            <div class="accordion-item"> 
                                <h2 class="accordion-header" id="exp_head_0">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#exp_0" aria-expanded="true" aria-controles="collapseExp0">
                                        Expérience #1
                                    </button>
                                </h2>
                                <div id="exp_0" class="accordion-collapse collapse show" aria-labeledby="collapseExp0"
                                     data-bs-parent="experience-accordion">
                                    <div class="accordion-body">

                                        <div class="row mb-3 border-bottom border-3 border-secondary">
                                            <div class="col">
                                                <p class="lead">Expérience #1</p>
                                            </div>
                                            <div class="col">
                                            </div>
                                        </div><!-- remove btn row -->

                                        <div class="row mb-3">
                                            <div class="col">
                                                <label class="form-label" for="exp_post_title_1">
                                                    Poste Title
                                                </label>
                                                <input class="form-control" id="exp_post_title_1" 
                                                       type="text" 
                                                       name="exp_post_title_1" 
                                                       placeholder="Poste Title"
                                                       required="true">
                                            </div>
                                            <div class="col">
                                                <label class="form-label" for="exp_employee_1">Employée</label>
                                                <input class="form-control" id="exp_employee_1" 
                                                       type="text" 
                                                       name="exp_employee_1" 
                                                       placeholder="Employée"
                                                       required="True">
                                            </div>
                                        </div><!-- Poste and Employée -->

                                        <div class="row mb-3">
                                            <div class="col">
                                                <label class="form-label" for="exp_start_date_1">Date de début</label>
                                                <div class="d-flex justify-content-between">
                                                    <input class="form-control" id="exp_start_date_1" 
                                                           type="date" 
                                                           name="exp_start_date_1" 
                                                           required="true">
                                                    <input class="form-control" id="exp_end_date_1" 
                                                           type="date" 
                                                           name="exp_end_date_1"
                                                           required="true">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="form-label" for="exp_ville_1">Ville</label>
                                                <input class="form-control" id="exp_ville_1" 
                                                       type="text" 
                                                       name="exp_ville_1" 
                                                       placeholder="Ville">
                                            </div>
                                        </div><!-- Exp Date and Ville -->

                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="d-flex justify-content-between">
                                                    <label class="form-label" for="exp_description_1">Description</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="exp_as_list_1"
                                                               type="checkbox" 
                                                               name="exp_desc_as_list_1"
                                                               value="1">
                                                        <label class="form-check-label" for="exp_as_list_1">
                                                            Display as a list
                                                        </label>
                                                    </div>
                                                </div>
                                                <textarea class="form-control" id="exp_description_1"
                                                          name="exp_description_1" 
                                                          placeholder="Enter Description for this post"></textarea>
                                            </div>
                                        </div><!-- Exp Description -->
                                    </div><!-- accordion-body -->
                                </div><!-- exp_1 collapse -->
                            </div><!-- accordion-item -->
                        </div><!-- accordion experience-container -->

                        <div class="row my-3">
                            <div class="col">
                                <button id="add-experience" class="btn btn-link float-end">
                                    <i class="bi bi-plus"></i> Add Expérience
                                </button>
                            </div>
                        </div>

                    </div><!-- --- accordion-body -->
                </div><!---------- id to collapse -->
              </div><!------------ accordion-item -->

            </div><!-- end of accordion -->
            <!-- ===================================================================== -->

            <div class="d-flex justify-content-end align-items-center mt-4">
                <div class="me-4 fs-5">
                    <div class="form-check">
                        <input id="save_pdf" class="form-check-input" type="radio" name="output_type" value="pdf">
                        <label class="form-check-label" for="save_pdf">Save As PDF</label>
                    </div>
                </div>

                <div class="me-4 fs-5">
                    <div class="form-check">
                        <input id="view_template" class="form-check-input" type="radio" name="output_type" value="view" checked>
                        <label class="form-check-label" for="view_template">View in Browser</label>
                    </div>
                </div>

                <div class="">
                    <button type="submit" class="fs-5 btn btn-primary submit-btn">Generate CV</button>
                </div>
            </div>

        </form>
            </div><!--end of card-body -->
        </div><!-- end of card -->
    </div>

    <script src='{% static "resumes/js/jQuery-3.7.1.js" %}'></script>
    <script src='{% static "resumes/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "resumes/js/main.js" %}'></script>
</body>
</html>
