{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% comment %}<title>{{ data.full_name }}'s CV</title>{% endcomment %}
    <title>CV {{ data.first_name }} {{ data.last_name }}</title>
    <link rel="stylesheet" href="{% static 'resumes/css/cv_css.css'%}">
</head>

<body>
    <div id="container">

        <div id="left">
            {% if data.profile_image_url %}
                <img src="file://{{ data.profile_image_url }}" alt="Profile Image">
            {% endif %}

            <p>📍🗺️ {{ data.ville }}, {{ data.paye }}</p>
            <p>✉️  {{ data.email }}</p>
            <p>📞 {{ data.phone }}</p>

            <div id="langue">
                <h2>🌐 Languages</h2>
                <dl>
                    {% for lang in data.languages %}
                        <dt>{{ lang.language }}</dt>
                        <dd> {{ lang.proficiency }}</dd>
                    {% endfor %}
                </dl>
            </div>

            <div id="formation">
                <h2>🎓 Education</h2>
                <h3>{{ data.edu_diplome }}, {{ data.edu_ecole }}, {{ data.edu_ville }}</h3>
                <p class="date">{{ data.edu_start_date }} - {{ data.edu_end_date }}</p>
                <p>{{ data.edu_ville }}</p>
                <p>{{ data.edu_description }}</p>
            </div>
        </div><!-- end of left div -->

        <div id="right">
            <h1 id="title">{{ data.first_name }} {{ data.last_name }}</h1>

            <div id="profile">
                <h2>📝 Profile</h2>
                <p>{{ data.profile }}</p>
            </div><!-- Profile -->

            <div id="experience">
                <h2>💼 Experience</h2>
                <h3>{{ data.exp_post_title }}, {{ data.exp_employee }}</h3>
                <p class="date">{{ data.exp_start_date }} -- {{ data.exp_end_date }}</p>
                <p>{{ data.exp_description }}</p>
            </div><!-- Experience -->

            <div id="competence">
                <h2>🛠️ Skills</h2>
                <dl>
                    {% for skill in data.skills %}
                        <dt>{{ skill.skill }}</dt>
                        <dd>{{ skill.niveau }}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div><!-- end of right div -->

    </div><!-- end of container -->
</body>
</html>
