{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>CV {{ data.first_name }} {{ data.last_name }}</title>
    <link rel="stylesheet" href="{% static 'resumes/css/table.css'%}">
</head>

<header>
    {% if data.profile_image_url %}
        <img src="{{ data.profile_image_url }}" alt="Profile Image">
    {% endif %}
    <div class="contact">
        <h1 id="name-job">{{ data.first_name }} {{ data.last_name }}, {{ data.poste }}</h1>
        <div class="content">
            {% if data.d_naissance %}<p>📅 D.Naissance: {{ data.d_naissance}}</p>{% endif %}
            <!--{{ data.address|default:"" }}-->
            {{ data.ville }}, {% if data.code_postal %}{{ data.code_postal }}, {% endif %}{{ data.paye }},
            <span>{{ data.phone }}, </span>
            <span> {{ data.email }}</span>
        </div>
    </div>
</header>
<hr>

<!-- Links -->
<aside>
    <div>
        <h2>Links</h2>
    </div>
    <div id="links">
        {% for link in data.links %}
            {% comment %}<p class="link-name">{{ link.name|default:"" }}</p>{% endcomment %}
            <p class="link">{{ link.url|default:"" }}</p>
        {% endfor %}
    </div>
</aside>

<hr>

<!-- Profile -->
<aside>
    <div>
        <h2>Profile</h2>
    </div>
    <div class="content">
        <p>{{ data.profile }}</p>
    </div>
</aside>

<hr>

<!-- Experiences -->
<section>
    <h2>Experiences</h2>

    {% for exp in data.experiences %}
        <aside>
            <div class="date">
                {% if exp.exp_start_date %}{{ exp.exp_start_date }} - {{ exp.exp_end_date }}{% endif %}
            </div>

            <div class="content">
                <div class="small-title">
                    {{ exp.exp_post_title }}, 
                    <span class="employee" style="text-transform: uppercase;">{{ exp.exp_employee }}</span>
                </div>

                {% if exp.exp_description|is_list %}
                    <ul>
                        {% for desc in exp.exp_description %}
                            <li>{{ desc }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ exp.exp_description }}</p>
                {% endif %}
            </div>
        </aside>
    {% endfor %}
</section>

<hr>

<!-- Educations -->
<section>
    <h2>Education</h2>
    {% for edu in data.educations %}
        <aside>
            {% if edu.edu_start_date %}
            <div>
                <p class="date">{{ edu.edu_start_date }} - {{ edu.edu_end_date }}</p>
            </div>
            {% endif %}

            <div class="content">
                <div class="small-title">
                    {{ edu.edu_diplome }}, 
                    <b>{{ edu.edu_ecole }}</b>
                    {% if edu.edu_ville %}, {{ edu.edu_ville }}{% endif %}
                </div>

          
                {% if edu.edu_description|is_list %}
                    <ul>
                        {% for desc in edu.edu_description %}
                        <li>{{ desc }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ edu.edu_description }}</p>
                {% endif %}
            </div>
        </aside>
    {% endfor %}
</section>

<hr>

<!-- skills -->
<aside id="skills">
    <div>
        <h2>Skills</h2>
    </div>
    <div class="content">
        <dl>
            {% for skill in data.skills %}
                <dt>{{ skill.skill }}</dt>
                {% comment %}<dd>{{ skill.niveau }}</dd>{% endcomment %}
            {% endfor %}
        </dl>
    </div>
</aside>

<hr>

<!-- Languages -->
<aside id="languages">
    <div>
        <h2>Languages</h2>
    </div>
    <div>
        <dl>
            {% for lang in data.languages %}
                <dt>{{ lang.language }}</dt>
                <dd> {{ lang.proficiency }}</dd>
            {% endfor %}
        </dl>
    </div>
</aside>

{% comment %}
<div id="container">
    <div id="left">
        <div class="contact">
            </p>
            <p>{{ data.permis|default:"" }}</p>
            <p>{% if data.sit_family %}💍 {{ data.sit_family }} {% endif %}</p>
        </div><!-- contact div -->
      
        <div id="languaages">
        </div>

    </div><!-- end of left div -->

</div><!-- end of container -->
{% endcomment %}

</html>
